/*General*/

body{
    background: #ffffff;
    font-family: "Karla";
}

a, p, h1, h2, h3{
    color: #E2FDEE;
}

a:visited{
    color:#E2FDEE;
}

a:hover{
    color: #FFF000; 
}
footer{
    padding:20px 0px;
}
footer p{
color:rgb(0, 158, 72);
text-align: center;
}

/*////////// 

HOME 

/////////////*/


.home{
    width:100%;
    background-color: rgb(0, 158, 72);
}
.footer-home{
    background:rgb(0, 158, 72);
}
.footer-home p{
    color:#E2FDEE;
}

/******  HEADER *****/
header{
    display:flex;
    justify-content: space-between; 
    align-items: baseline;
    padding: 30px 24px 0px 24px;
    font-size: 1.4em;
}
header h1 a{ 
    text-decoration: none;
}
.project-nav{
    padding:1.2em;
}


/* BIO */
.bio{ 
    width:82%;
    padding:245px 0px 145px 135px;
}

.bio p{
    font-size:2.52em;
    line-height: 1.22em;
}

.light{
    position: relative;
    z-index: 10;
    left: 700px;
    top: -300px;
}


/* HOME PROJECTS */

.projects{
    padding: 100px 18px 0px 118px;
}
.projects h2{
    font-size: 3em;
    padding-bottom: 60px;
    font-weight: bold;
}
.home-first-project{
    display: flex;
    padding: 0px 23px 100px 23px;
}
.home-project-text h3{
    font-size: 4em;
    font-weight: bold;
}
.home-first-project p{
    font-size: 1.5em;  
}
.home-project-text{
    padding: 0px 50px 0px 50px;
    width:50%;
}
.home-project-text p{
    padding:25px 0 0 25px;
}
.home-project-image{
    width:40%;
}

/*////////// 

PROJECT PAGE

/////////////*/


.project a, .project h1, .project h2, .project h3, .first-project-title p{
    color: rgb(0, 158, 72);
}

.project a:hover{
    color: #FFF000; 
}

.project-text article{
    padding-bottom: 30px;
}
.first-project-title{
    padding:70px 141px 80px 200px;
}
.first-project-title h1{
    font-size: 5em;
    font-weight: bold;
}
.first-project-title p{
    font-size: 2em;
    padding:25px 0 0 25px;
}

.first-project-image img{
    width:65%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.project-text{
    width:70%;
    padding:50px 0px 80px 0px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.project-text p{
    font-size: 1.1em;
    line-height: 1.4em;
}
.project-text article{
    padding: 20px;
}
.project-text h2{
    font-size: 2em;
    padding-bottom: 30px;
}
.project-text h3{
    font-size: 1.3em;
    padding-bottom: 30px;
}
.project-text p{
    color: #444444;
}
.project-text img{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.quotes{
    width:60%;
    margin: auto;
    padding-top:30px;
}
.quotes p{
    font-weight: bold;
    font-size:1.39em;
    line-height: 1.4em;
    font-style: italic;
}


#problem-text {
    width:60%;
    margin:auto;
    padding:60px 0px;
}
#problem-text p{
    font-size:1.7em;
    line-height: 1.5em;
    font-weight: bold;
}
.user-persona img{
    width:55%;
    height: auto;
}
.features{
    padding:20px 0px;
    width:80%;
    margin:auto;
}
.features p{
    line-height: 1.8em;
}

.mid-fi img{
    width:50%;
}
.mid-fi p{
    padding-bottom:50px;
}

.ui-design img{
    width:50%;
}
.ui-represent{
    margin:auto;
    padding:20px 0px;
}
.ui-represent p{
    text-align: center;
}

.piefoto p{
    font-size:.9em; 
    text-align: center;
    padding-top:10px;
    padding-bottom:20px;
}
.piefoto{
    margin-top:20px;
}

iframe{
    margin:auto;
}
/*////////// 

ABOUT 

/////////////*/

.about a, .about h1, .about h2, .about h3{
    color: rgb(0, 158, 72);
}
.about-text a{
    text-decoration:underline;
}
.about-text a:hover{
    color: #FFF000; 
}

.about-main{
    display:flex;
    padding:100px 141px 50px 141px;
}

.about-image{
    width:120%;
    padding-top:60px;
}

.about-text{
    padding:0px 0px 0px 100px;
}

.about-text h2{
    font-size: 2em;
    padding-bottom:20px;
}
.about-text p{
    font-size:1.20em;
    line-height: 1.80em;
    color: #444444;
    padding-bottom:20px;
}
.green{
    color:rgb(0, 158, 72);
    font-size: 1.3em;
}

.fab{
    font-size: 2em;
    padding:5px;
   
}

.fas{
    font-size: 2em;
    padding:5px;
}
.fab:hover, .fas:hover{
    transform:translateX(3px) translateY(3px);
}



/* MEDIA QUERIES */

@media (max-width: 600px){
    .bio{
      font-size: 10px;
      padding: 70px 0px 70px 35px;
    }
    header h1 a{ 
        font-size:20px;

    }
    .projects{
        padding: 30px 0px 30px 35px;
    }
    .home-first-project{
        flex-direction: column-reverse;
    }
    .home-project-text {
        width: auto;
        padding: 0;
        padding-bottom: 20px;
    }
    .home-project-text h3{
        font-size: 1.4em;
        font-weight: bold;
    }
    .home-project-text p{
        font-size: 1em;
        font-weight: bold;
        line-height: 1.1em;
    }
    .home-project-image{
       width: auto;
       max-width:300px;
    }

    .about-main{
        display:flex;
        flex-direction: column;
        width:90%;
        padding:10px;
    }
    .about-text{
        padding:10px;
    }
    .about-image{
        width:70%;
    }
    .about-text p{
        font-size:1em;
    }

  }

  /* importante poenr widths a las cosas para que sean responsive*/

  /* ASPECT RATIO UTILS */

  [class*='ratio-'] {
    display: block;
    position: relative;
  }
  
  [class*='ratio-'] > * {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .aspect-ratio-wide {
    padding-top: 56.25%;
  }
  
  .aspect-ratio-square {
    padding-top: 100%;
  }