/*General*/
/**{
    margin:0px;
    padding:0px;
}*/
body{
    background: #ffffff;
    font-family: "Karla";
}

a, p, h1, h2, h3{
    color: #E2FDEE;
}

a:visited{
    color:#E2FDEE;
}

a:hover{
    color: #FFF000; 
}
footer p{
color:rgb(0, 158, 72);
}
footer{
    background:blue;
}

/*////////// 

HOME 

/////////////*/


.home{
    width:100%;
    background-color: rgb(0, 158, 72);
}
.footer-home{
    background:rgb(0, 158, 72);
}
.footer-home p{
    color:#E2FDEE;
}

/******  HEADER *****/
header{
    display:flex;
    justify-content: space-between; 
    align-items: baseline;
    padding: 30px 24px 0px 24px;
    font-size: 1.4em;
}
header h1 a{ 
    text-decoration: none;
}
.project-nav{
    padding:1.2em;
}


/* BIO */
.bio{ 
    width:82%;
    padding:245px 0px 145px 135px;
}

.bio p{
    font-size:2.52em;
    line-height: 1.22em;
}

.light{
    position: relative;
    z-index: 10;
    left: 500px;
    top: -200px;
}


/* HOME PROJECTS */

.projects{
    padding: 100px 18px 0px 118px;
}
.projects h2{
    font-size: 3em;
    padding-bottom: 60px;
    font-weight: bold;
}
.home-first-project{
    display: flex;
    padding: 0px 23px 100px 23px;
}
.home-project-text h3{
    font-size: 4em;
    font-weight: bold;
}
.home-first-project p{
    font-size: 1.5em;  
}
.home-project-text{
    padding: 0px 50px 0px 50px;
    width:50%;
}
.home-project-text p{
    padding:25px 0 0 25px;
}
.home-project-image{
    width:40%;
}


/*////////// 

PROJECT PAGE

/////////////*/


.project a, .project h1, .project h2, .project h3, .first-project-title p{
    color: rgb(0, 158, 72);
}

.project a:hover{
    color: #FFF000; 
}
.first-project-title{
    padding:70px 141px 80px 200px;
}
.first-project-title h1{
    font-size: 5em;
    font-weight: bold;
}
.first-project-title p{
    font-size: 2em;
    padding:25px 0 0 25px;
}

.first-project-image{
    padding:0px 0px 0px 141px;
}

.project-text{
    padding:50px 121px 80px 180px;
}
.project-text article{
    padding: 20px;
}
.project-text h2{
    font-size: 2em;
}
.project-text p{
    color: #444444;
}




/*////////// 

ABOUT 

/////////////*/
.about a, .about h1, .about h2, .about h3{
    color: rgb(0, 158, 72);
}

.about a:hover{
    color: #FFF000; 
}

.about-main{
    display:flex;
    padding:100px 141px 50px 141px;
}

.about-image img{
width:120%;
}
.about-image{
    padding-top:60px;
}
.about-text{
    padding:0px 0px 0px 100px;
}

.about-text h2{
    font-size: 2em;
    padding-bottom:20px;
}
.about-text p{
    font-size:1.20em;
    line-height: 1.80em;
    color: #444444;
    padding-bottom:20px;
}
.about-text a{
    text-decoration: none;
}
.green{
    color:rgb(0, 158, 72);
}
.button-latest-project a{
    border:2px solid rgb(0, 158, 72);
    display: inline-block;
    padding:10px;
}
.button-latest-project a:hover{
    border:2px solid #FFF000;
    transform:translateX(3px) translateY(3px);
}

/* MEDIA QUERIES */

@media (max-width: 600px){
    .bio{
      font-size: 10px;
      padding: 70px 0px 70px 35px;
    }
    header h1 a{ 
        font-size:20px;

    }
    .projects{
        padding: 30px 0px 30px 35px;
    }
    .home-first-project{
        flex-direction: column-reverse;
    }
    .home-project-text {
        width: auto;
        padding: 0;
        padding-bottom: 20px;
    }
    .home-project-text h3{
        font-size: 1.4em;
        font-weight: bold;
    }
    .home-project-text p{
        font-size: 1em;
        font-weight: bold;
        line-height: 1.1em;
    }
    .home-project-image{
        width: auto;
    }

  }

  /* importante poenr widths a las cosas para que sean responsive*/

  /* ASPECT RATIO UTILS */

  [class*='ratio-'] {
    display: block;
    position: relative;
  }
  
  [class*='ratio-'] > * {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .aspect-ratio-wide {
    padding-top: 56.25%;
  }
  
  .aspect-ratio-square {
    padding-top: 100%;
  }